@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes bounceIn {
  0% {
    transform: scale(0.01);
    opacity: 0;
  }
  80% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes bounceOut {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(5);
  }
}
body .benotify-wrapper {
  position: fixed;
  right: 10px;
  bottom: 10px;
}
body .benotify-wrapper > div {
  opacity: 0;
  border: 1px solid #ccc;
  margin: 4px;
  padding: 4px 12px;
  min-width: 120px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
}
body .benotify-wrapper > div.active {
  opacity: 1;
  animation: fadeIn 1s;
}
body .benotify-wrapper > div.active > div {
  animation: bounceIn 1s;
}
body .benotify-wrapper > div.removing {
  opacity: 0;
  animation: fadeOut 0.8s;
}
body .benotify-wrapper > div.removing > div {
  animation: bounceOut 0.8s;
}
.button {
  padding: 8px 12px;
  margin-bottom: 4px;
}
